#homepage {
  font-weight: 500;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
}

a {
  color: rgb(252, 252, 252);
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20;
  box-sizing: border-box;
}

label {
  display: block;
  padding: 4px;
}

label input {
  display: block;
  margin: 6px 0;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c2c2c2;
  width: 320px;
}


label span {
  font-size: 12px;
  font-weight: 600;
  color: #123456
}

input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: 0 6px;
}

label span.required:after {
  content: " *";
  color: red;
}

.payment-method-button {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 12px;
  margin: 12px;
  min-width: 320px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
}

.payment-method-button.selected {
  border: 2px solid #7154d4;
}

.payment-method-button img {
  height: 21px;
}

.toggle-transition {
  transition: height 1000ms ease-out;
  height: 0px;
  overflow: hidden;
}

#checkout-cta {
  background-color: white;
  color: #7154d4;
  border: 1px solid #a2a2a2;
  min-width: 320px;
  padding: 8px;
  margin: 12px 0;
  font-weight: 600;
}

#payment-methods-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  width: 400px;
  margin: 24px auto;
  margin-bottom: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(74, 74, 74, 1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(74, 74, 74, 1);
  box-shadow: 0px 0px 10px -5px rgba(74, 74, 74, 1);
}

#checkout-button-container {
  position: fixed;
  bottom: 0;
  background-color: #7154d4;
  width: 100%;
  text-align: right;
  padding: 0 12px;
}

.valid {
  border: 2px solid rgb(3, 196, 3) !important;
}

.invalid {
  border: 2px solid red !important;
}

#checkout-button-container #checkout-cta {
  border: none;
  border-radius: 5px;
  border-radius: 5px;
  margin: 12px 24px;
  cursor: pointer;
}

.inai {
  height: 100px;
  padding-left: 15%;
  margin-top: 20px;
}

.tshirt {
  height: 300px;
  margin-top: 50px;
}

#container {
  margin: auto;
  width: 500px;
}

#btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 10%;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.imgcontainer {
  padding-left: 15%;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

#saved_methods {
  width: 300px;
  margin: auto;
  cursor: pointer;
}

#saved_methods img {
  height: 30px;
  padding-left: 10px;
}

#saved_methods div {
  display: flex;
  margin: 5px auto;
  border-radius: 2px;
}

#options {
  margin: auto;
  height: auto;
  width: 500px;
}

#options>div {
  background-color: black;
  color: white;
  text-align: center;
  font-size: x-large;
  height: auto;
  width: 500px;
  padding: 20px;
  cursor: pointer;
  margin-top: 2%;
  border-radius: 8px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#card-info {
  width: 500px;
  margin: auto;
  text-align: center;
}

#response {
  max-width: 500px;
  height: 500px;
  text-align: center;
  margin: auto;
  word-wrap: break-word;

}

.card_input {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 12px;
  margin: 12px;
  min-width: 320px;
  font-size: 15px;
  font-weight: 400;
}