.container {
    width: max-content !important;
    margin: 3rem auto !important;
    padding: 4rem 2rem !important;
    box-shadow: 0px 0px 10px 0px rgba(00, 00, 00, 0.3);
    border-radius: 0.3rem;
}

.btn-1 {
    width: auto;
    padding: 1rem 4rem !important;
    border-radius: 0.3rem;
    border: transparent;
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.w-35 {
    width: 35% !important;
}

.font-size-2 {
    font-size: 1.5rem;
}
