body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20;
  box-sizing: border-box;
}

.dropin {
  width: 320px;
  height: 30px;
  font-weight: 500;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45vh auto;

}

.inai {
  height: 100px;
  padding-left: 15%;
  margin-top: 20px;
}

.tshirt {
  height: 300px;
  margin-top: 50px;
}

#btn {
  height: 50px;
  width: 200px;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 10%;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.imgcontainer {
  padding-left: 15%;
}

#container {
  margin: auto;
  width: 500px;
}

.inai-widget-container {
  width: 340px;
  margin: auto;
}